<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Finanças</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"  href="/static/main.css">
    <style>
        .content-tabelas{
            margin-left: 100px;
        }
        table{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <!--  SIDE MENU  -->
    <div class="sidebar">
        <button class="expand-btn" onclick="toggleMenu()">☰</button>
        <div class="menu">
            <button class="menu-btn" onclick="homeBtn()"><span class="material-symbols-outlined">home</span><span class="menu-text">Home</span></button>
            <button class="menu-btn" onclick="clientesBtn()"><span class="material-symbols-outlined">person</span><span class="menu-text">Clientes</span></button>
            <button class="menu-btn" onclick="motasBtn()"><span class="material-symbols-outlined">sports_motorsports</span><span class="menu-text">Veículos</span></button>
            <button class="menu-btn" onclick="outrosBtn()" id="outros"><span class="material-symbols-outlined">widgets</span><span class="menu-text">Outros</span></button>
        </div>
        <div class="last-btn">
            <button class="menu-btn" onclick="definicoesBtn()"><span class="material-symbols-outlined">settings</span><span class="menu-text">Definições</span></button>
        </div>
    </div>
    <!--  SIDE MENU  -->

    <div class="content-tabelas">
        <h1>Totais de Finanças</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Total Valor de Compra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_valor_compra }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Total Valor de Aluguer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_valor_total_aluguer }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Total Valor de Manutenção</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_valor_total_manutencao }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Total Valor de Venda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_valor_venda }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Total Valor de Lucro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_valor_lucro }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Total de Veículos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_registros }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <script src="/static/js/footer.js"></script>
    </footer>
    <script>
        // SIDE MENU
        function toggleMenu() {
            document.querySelector('.sidebar').classList.toggle('open');
        }
        // BOTÕES SIDE MENU
        function homeBtn() {
            window.location.href = "/Home"; 
        }
        function clientesBtn() {
            window.location.href = "/Clientes"; 
        }
        function motasBtn() {
            window.location.href = "/Veículos"; 
        }
        function outrosBtn() {
            window.location.href = "/Outros"; 
        }
        function definicoesBtn() {
            window.location.href = "/Definições";  
        }
        function financasBtn() {
            window.location.href = "/Finanças";  
        }
    </script>
</body>
</html>